$navBarHeight: 50px

@import foundation
@import bourbon

header, footer, #main
  +outerRow

#content
  +column(8)
#sidebar
  +column(4)
  padding: 1em
  background: #ccc
  +border-radius(10px)
  +box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.3))